
/*-------REGOLE GENERALI----------------*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: rgb(82, 24, 239);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


img{
    width: 100%;
    height: 100%;
}

div p{
    font-size: 20px;
    color: white;
    padding-top: 10px;
    padding-left: 85px;
    font-size: 30px;
}

/*-------SISTEMO IL LOGO DELLA CODING WEEK---------*/

.img-logo{
    width: 100%;
    height: 100%;
}



.boxlogo{
    width: 100%;
    height: 300px;
    padding: 40px 60px;
}

.logo{
    width: 250px;
    height: 250px;
}

/*---------PROVO IL FLEX----------------------*/

.flex-conteiner{
    width: 100%;
    height: 1000px;

    margin: 100px auto;
    align-items: center;

    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
}

.box-flex{
    width: 450px;
    height: 450px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.smallbox-flex{
    width: 300px;
    height: 300px;
}
